<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.codedawn.word.mapper.SynchronizeRecordMapper" >


    <resultMap id="SynchronizeRecordMap" type="com.codedawn.word.entity.SynchronizeRecord">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="url" column="url"/>
        <result property="timestamp" column="timestamp"/>
    </resultMap>




    <select id="selectSynchronizeRecordByOpenId" resultMap="SynchronizeRecordMap">
        SELECT id,userId,url,timestamp from synchronizerecord where userId=(#{userId})
    </select>



    <insert id="insertSynchronizeRecord" >
        insert  into synchronizerecord(userId,url,timestamp) VALUES(#{synchronizeRecord.userId},#{synchronizeRecord.url},#{synchronizeRecord.timestamp})
    </insert>

    <update id="updateSynchronizeRecord" >
        update  synchronizerecord set url=#{synchronizeRecord.url},timestamp=#{synchronizeRecord.timestamp} where id=synchronizeRecord.id
    </update>
</mapper>

